@font-face {
  font-family: 'Love Light';
  src: url('/happy-birthday-25/fonts/love-light/love-light-v7-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}